# Ignore node_modules and build directories in both frontend and backend
/frontand/node_modules/
/frontand/build/
/frontand/.pnp
/frontand/.pnp.js
/frontand/coverage/

/backand/node_modules/
/backand/.env
/backand/.env.local
/backand/.env.development.local
/backand/.env.test.local
/backand/.env.production.local
/backand/npm-debug.log*
/backand/yarn-debug.log*
/backand/yarn-error.log*
/node_modules/


# Ignore IDE and OS-specific files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
